.exam-header{

position:sticky;

top:0;

z-index:999;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 35px;

background:#ffffff;

box-shadow:0 8px 30px rgba(0,0,0,.08);

border-bottom:1px solid #ececec;

}

.exam-logo h2{

margin:0;

color:#0b6623;

font-size:28px;

}

.exam-logo p{

margin-top:5px;

color:#777;

font-size:14px;

}

.exam-status{

display:flex;

align-items:center;

gap:15px;

}

.status-box{

background:#f7f8fa;

padding:10px 18px;

border-radius:12px;

text-align:center;

min-width:90px;

}

.status-box h4{

margin:0;

font-size:13px;

color:#666;

}

.status-box p{

margin-top:6px;

font-size:20px;

font-weight:bold;

}

.warning{

background:#fff6d8;

}

.exit-btn{

background:#e53935;

color:white;

border:none;

padding:12px 24px;

border-radius:12px;

cursor:pointer;

font-size:15px;

font-weight:600;

}

.exit-btn:hover{

background:#c62828;

}

@media(max-width:768px){

.exam-header{

flex-direction:column;

gap:15px;

padding:15px;

}

.exam-status{

flex-wrap:wrap;

justify-content:center;

}

.exam-logo{

text-align:center;

}

}